<h1>メッセージ編集</h1>
<%= form_for @user , url: user_path, html: { method: :patch} do |f| %>
  <p>タイトル<%= f.text_field :title %></p>
  <p>内容<%= f.text_field :content %></p>
  <input type="submit" value="送信" >
<% end %>
<%= link_to "一覧画面へ", users_path %>
