/*
 *= require_tree .
 *= require_self
 */

@import "bootstrap";

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1{
  margin-bottom: 20px;
}
.header{
    text-align: center;
    padding-top:30px;
}
.content{
    margin: auto;
}
.base-content{
    display: block;
    max-width: 700px;
    margin: 0 auto;
}
.form{
  margin-top: 20px;
}
.full-button{
  margin: 5px 0;
  padding: 10px 0;
  width: 100%;
}
.item-btn{
  margin: 0 10px;
}
.card{
  margin-top: 20px;
}
